@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Customer List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Customers" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp Create New Customer
            </a>
        </div>
    </div>
    <br /> <br />
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th width="10%">
                    First Name
                </th>
                <th width="10%">
                    Last Name
                </th>
                <th width="15%">
                    Phone Number
                </th>
                <th width="35%">
                    Address
                </th>
                <th width="35%">
                    Email Address
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var customer in Model)
            {
                <tr>
                    <td width="20%">
                        @customer.FirstName
                    </td>
                    <td width="20%">
                        @customer.LastName
                    </td>
                    <td width="15%">
                        @customer.PhoneNumber
                    </td>
                    <td width="35%">
                        @customer.Address
                    </td>
                    <td width="35%">
                        @customer.Email
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
