@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Customer List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Customers" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp Create New Customer
            </a>
        </div>
    </div>
    <br /> <br />
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th width="15%">
                    First Name
                </th>
                <th width="15%">
                    Last Name
                </th>
                <th width="15%">
                    Phone Number
                </th>
                <th width="35%">
                    Address
                </th>
                <th width="35%">
                    Email Address
                </th>
                <th width="5">
                    Edit
                </th>
                <th width="5">
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var customer in Model)
            {
                <tr>
                    <td>
                        @customer.FirstName
                    </td>
                    <td>
                        @customer.LastName
                    </td>
                    <td>
                        @customer.PhoneNumber
                    </td>
                    <td>
                        @customer.Address
                    </td>
                    <td>
                        @customer.Email
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Customers" 
                               asp-action="Edit" 
                               asp-route-id="@customer.Id"
                               class="btn btn-primary mx-1"> 
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Customers"
                               asp-action="Delete"
                               asp-route-id="@customer.Id"
                               class="btn btn-danger mx-1">
                               <i class="bi bi-trash3"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
